/*MOBILE FIRST APPROACH: All styles below are set for mobile devices*/


/*Global Styles*/

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}


/*Use CSS variables*/

:root {
    --main-color: #EBFAF5;
    --header-color: #2A3A4A;
    --div-color: #FAEBD5;
    --footer-section-color: #293B44;
}

body {
    font-size: 1em;
    background-color: var(--main-color);
}


/*----------------------------------------*/


/*Style for header*/

header {
    background-color: var(--header-color);
    min-height: 20vh;
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
}

header .title-area {
    padding: 1.5em 0.5em;
}

#statement {
    padding: 2em;
    font-weight: normal;
    text-align: left;
}


/*----------------------------------------*/


/*Style for main*/

main {
    color: black;
}

.faqArticle,
.jsexample {
    padding: 1em;
    margin: 2.5em 5em;
    background-color: var(--div-color);
}

h3 {
    margin: 0.5em 0;
}

#div1,
#div2 {
    display: inline-block;
    width: 100px;
    height: 135px;
    margin: 10px;
    border: 1px solid black;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.exampleArea {
    text-align: center;
}


/*----------------------------------------*/


/*Style for footer*/

footer {
    background-color: var(--footer-section-color);
    min-height: 3em;
    color: white;
    font-weight: bold;
    /*Centering the paragraph vertically and horizontally*/
    display: flex;
    justify-content: center;
    align-items: center;
}


/*----------------------------------------*/


/*STYLES FOR TABLE /iPAD*/

@media screen and (min-width: 600px) {}


/*----------------------------------------*/


/*STYLES FOR LAPTOP/DESKTOP*/

@media screen and (min-width: 1024px) {}